[Unit]
Description=PaperBoy service

[Service]
Type=simple
ExecStart=paperboy -c %h/.config/paperboy
ConditionPathExists=%h/.config/paperboy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
