[Unit]
Description=PaperBoy service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=paperboy -c  %h/.config/paperboy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
