[Unit]
Description=Wal configuration files flusher timer
 
[Timer]
Unit=wal-flusher.service
OnCalendar=*-*-* *:*:00
Persistent=true
 
[Install]
WantedBy=timers.target
