[Unit]
Description=Xmodmap custom keymap apply
ConditionPathExists=%h/.Xmodmap

[Service]
Type=oneshot
ExecStart=/usr/bin/xmodmap %h/.Xmodmap

[Install]
WantedBy=default.target
