[Unit]
Description=YADM config updater timer
 
[Timer]
Unit=yadm-updater.service
OnCalendar=*-*-* *:00:00
Persistent=true
 
[Install]
WantedBy=timers.target
