[commit]
	gpgsign = true

[include]
	path = .gitconfig.d/user
	path = .gitconfig.d/credential
	path = .gitconfig.d/work
[init]
	defaultBranch = master
[pull]
	rebase = true
[submodule]
	recurse = true
[core]
	pager = cat
