window>box>box.background.budgie-panel>box.horizontal.start-region {
         background-color: rgba(0, 0, 0, .6);
         border: 1.25px solid rgba(0, 0, 0, .7);
         border-radius: 25px;
         padding: 0 25px;
         margin: 20px;
}

VteTerminal, TerminalScreen, vte-terminal {
    padding: 25px 25px 25px 25px;
    -VteTerminal-inner-border: 25px 25px 25px 25px;
}

