window>box>box.background.budgie-panel>box.horizontal.start-region {
         background-color: rgba(0, 0, 0, .8);
         border: 1px solid rgba(0, 0, 0, .85);
         border-radius: 0px;
         padding: 0 25px;
         margin: 25px;
}

VteTerminal, TerminalScreen, vte-terminal {
    padding: 25px 25px 25px 25px;
    -VteTerminal-inner-border: 25px 25px 25px 25px;
}
