/*
È possibile digitare qui qualsiasi regola CSS riconosciuta da GTK+.
È possibile disabilitare temporaneamente questo CSS personalizzato facendo clic sul pulsante «Pausa».

Le modifiche sono applicate immediatamente e globalmente, per tutta l'applicazione.
*/

window>box>box.background.budgie-panel>box.horizontal.start-region {
         background-color: rgba(0, 0, 0, .6);
         border: 1.25px solid rgba(0, 0, 0, .7);
         border-radius: 25px;
         padding: 0 25px;
         margin: 20px;
}
