name: unciae-sync

on:
  repository_dispatch:
    types: [unciae-sync]

permissions:
  actions: read
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

env:
  submodule_path: ".local/share/unciae"

jobs:
  unciae-sync:
    if: ${{ github.event.client_payload.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: true
      - name: Setup repository
        run: |
          git config user.email "automata@davidepucci.it"
          git config user.name "Automata"
      - name: Sync unciae to dispatched sha
        run: |
          git submodule update --init "${submodule_path}"
          git --git-dir="${submodule_path}/.git" checkout "${GITHUB_EVENT_CLIENT_PAYLOAD_SHA}"
          git commit -m "chore(unciae): sync (streambinder/unciae@$(cut -c-7 <<< "${GITHUB_EVENT_CLIENT_PAYLOAD_SHA}"))" "${submodule_path}"
        env:
          GITHUB_EVENT_CLIENT_PAYLOAD_SHA: ${{ github.event.client_payload.sha }}
      - name: Push repository
        run: git push
